@keyframes rotate {
     100% {
     -webkit-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
   100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
   }
}
.wp_job_manager_meta_data .form-field.full-form-field {
  width: 100% !important;
  padding-left: 0px;
}
.wp_job_manager_meta_data .form-field.location-form-field input{
  width: 100% !important;
}
.find-me-location {
  cursor: pointer;
  width:15px;
  height: 15px;
  line-height: 15px;
}
.find-me-location.loading{
  animation:rotate 700ms linear 0s normal none infinite running ;
  -webkit-animation:rotate 700ms linear 0s normal none infinite running ;
}
.listdo-location-field-map {
	height: 200px;
}
.radio-images{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
@media(min-width: 1200px){
	.radio-images{
	    -webkit-column-count: 6; /* Chrome, Safari, Opera */
	    -moz-column-count: 6; /* Firefox */
	    column-count: 6;
	}
}
.wp_job_manager_meta_data .form-field.filed-images-layout{
	width:80% !important;
}
.radio-images .radio-images-inner{
	margin-bottom: 15px;
	display: inline-block;
	text-align: center;
}
.radio-images .layout-style-title{
	font-weight: 600;
}
.filed-images-layout > label{
	font-size: 1.3em;
	margin: 1em 0 !important;
}

/* group fields */
.group-fields .group-field-item{
    padding-bottom:15px;
}
.group-fields .group-field-item .group-field-item-title{
	background: #ddd;
  color: #212121;
  padding: 5px 15px;
  font-weight: 600;
}
.group-fields .group-field-item .group-field-item-title + .group-field-item-content{
	padding:15px;
    border-width:0 1px 1px;
    border-style: solid;
    border-color:#ddd;
}
.group-fields label{
	width:100%;
	margin: 0 0 5px;
	display: block;
}
.group-fields .input-text {
	width:100% !important;
}
.group-field-item-content [class*="job-manager"]{
	margin-bottom: 10px;
}

.group-fields h3 {
	font-size:14px;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
  clear: both;
}
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-xs-6 {
	width: 50%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-6 {
		width: 50%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-6 {
		width: 50%;
		float: left;
	}
}
.block-editor__container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Hour operation */
.hours-field h3.title {
	margin-bottom: 10px;
}
.is-admin .hours-field-wrapper .tab-content{
	padding: 30px;
}
.is-admin .hours-field-wrapper .nav-tabs {
	background: #ddd;
	margin: 0px;
}
.is-admin .hours-field-wrapper .nav-tabs li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.is-admin .hours-field-wrapper .nav-tabs li a {
	text-decoration: none;
	background: #ddd;
	font-size: 13px;
	font-weight: 600;
	padding: 10px;
	display: inline-block;
}
.is-admin .hours-field-wrapper .nav-tabs li.active a {
	background: #fff;
}
.is-admin .hours-field-wrapper .nav-tabs li a:focus {
    
    box-shadow: inherit !important;
}
.is-admin .hours-field-wrapper .hours-top-content label{
	display: inline-block;
	padding: 0 10px;
}
.is-admin .hours-field-wrapper .hours-top-content input{
	display: inline-block;
	width: inherit;
}
.is-admin .hours-field-wrapper .tab-content .tab-pane {
	display: none;
}
.is-admin .hours-field-wrapper .tab-content .tab-pane.active {
	display: block;
}
.hours-field-wrapper .enter-hours-content {
	
}
.hours-field-wrapper .enter-hours-content.active {
	display: block;
}

/* checklist */
.wp_job_manager_meta_data .form-field .job-manager-term-checklist .checkbox-wrapper input, .wp_job_manager_meta_data .form-field .job-manager-term-checklist .checkbox-wrapper label {
	display: inline-block;
	width: auto;
	font-weight: 400;
}
@media(min-width:1200px){
	ul.job-manager-term-checklist {
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
	}
	ul.job-manager-term-checklist::after {
		content: '';
	    clear: both;
	    display: block;
	    width: 100%;
	}
    .job-manager-term-checklist li{
		display: inline-block;
		width: 50%;
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
        float: left;
    }
}
ul.job-manager-term-checklist {
	max-height: 300px;
	overflow-y: scroll;
}

/* regions field */
.regions-field::after {
	content: '';
    clear: both;
    display: block;
    width: 100%;
}
.regions-field .field-region {
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
    float: left;
    padding-right: 10px;
}
.regions-field .field-region label {
	font-weight: 400;
}
.regions-field .field-region select {
	width: 100%;
}
.regions-field .field-region.loading select {
	background: rgba(255, 255, 255, 0.9) url("../images/loading.gif") no-repeat center center/25px auto;
}

#upload-image-logo-images img {
	max-width: 100%;
}
#upload-image-gallery-images::after {
	content: '';
    clear: both;
    display: block;
    width: 100%;
}
#upload-image-gallery-images .image-wrapper {
	float: left;
	width: 30%;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 5px 5px 5px 0;
}

#upload-image-gallery-images .image-wrapper img {
	width: 100%;
}
.images .image-wrapper {
	position: relative;
}
.images .image-wrapper .remove-image {
	color: red;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 18px;
	cursor: pointer;
}
.group-fields .btn-success{
	  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.group-fields .btn-success:hover,.group-fields  .btn-success:focus, .group-fields .btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.group-fields .btn-danger {
  color: #fff;
  background-color: #ef2f24;
  border-color: #e91d11;
}
.group-fields .btn-danger:hover,.group-fields  .btn-danger:focus,.group-fields  .btn-danger:active {
  color: #fff;
  background-color: #d11a0f;
  border-color: #af160d;
}
@media(min-width: 1200px){
  .flex-top-lg{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: flex-start; /* Safari 7.0+ */
      display: flex;
      align-items: flex-start;
  }
  .flex-middle-lg{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: center; /* Safari 7.0+ */
      display: flex;
      align-items: center;
  }
}
.hours-last  label {
    display: block;
    margin: 0;
    width: 29%;
    float: left;
    vertical-align: middle;
}
.list-hours > .list {
    padding-bottom: 10px;

}
.list-hours > .list .enter-hours-item-inner{
	padding-bottom: 5px;
}
.list-hours > .list .enter-hours-item-inner:last-child{
	padding-bottom: 0;
}
.group-fields .bottom-action-hour .btn-action.text-success {
    color: #3c763d;
}
.group-fields .bottom-action-hour .btn-action.text-danger {
    color: #a94442;
}
.enter-hours-content-item a {
	text-decoration:none;
	color: #202020;
}
.group-fields .bottom-action-hour .btn-action {
	font-size: 13px;
	line-height: 30px;
	margin-right:20px;
	border:none;
	font-weight: 400;
	padding:0;
	background: transparent !important;
	box-shadow: none !important;
}
.wc-job-manager-repeater-rows .repeater-fields-rows{
	padding-bottom: 20px;
}
.wc-job-manager-repeater-rows .submit{
	float:none !important;
	padding:0 !important;
}
.wc-job-manager-repeater-rows  label{
	display: block;
	width:100%;
	margin:0 0 5px;
}
.wc-job-manager-repeater-rows .repeater-field {
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.wc-job-manager-repeater-rows .repeater-field:last-child {
	border:none;
	padding-bottom: 0;
}
.wc-job-manager-repeater-rows .repeater-field:last-child {
	padding-bottom: 0;
}
.wc-job-manager-repeater-rows .repeater-field  .delete-repeat-row{
	color: #a94442;text-decoration: none;
		clear: both;
	float:left;
	margin-left:15px;
}
/*bootstrap*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

.group-field-item-content select, .repeater-field select {
  width: 100%;
}

.repeater-field .col-xs-6, .enter-hours-item-inner .col-xs-6, .group-field-item-content .col-sm-6 {
  box-sizing: border-box;
}
#dialog_addobj{
 width: 100% !important;
}
.mapboxgl-ctrl-geocoder--input {
  border: none !important;
  margin: 0 !important;
}
.mapboxgl-ctrl-geocoder--input:focus {
  box-shadow: none !important;
}
.listdo-location-field-inner{
  position: relative;
}
.listdo-location-field-inner .highlight{
  font-weight: 600;
  font-size: 13px;
}
.listdo-location-field-inner #leaflet-geocode-container{
  position:absolute;
  top:100%;
  left: 0;
  width:100%;
  z-index: 2;
  font-size: 14px;
}
.listdo-location-field-inner #leaflet-geocode-container ul{
    list-style: none;
    background: #fff;
    padding:15px;
    margin:0;
    font-size: 11px;
    border-radius:0 0 3px 3px;
    border-width:0 1px 1px;
    border-style: solid;
    border-color: #ddd;
}
.listdo-location-field-inner #leaflet-geocode-container ul li{
    margin-bottom:7px;
    padding-bottom:7px;
    border-bottom:1px solid #ddd;
}
.listdo-location-field-inner #leaflet-geocode-container ul li:last-child{
  margin-bottom: 0;
  padding:0;
  border:0;
}
.listdo-location-field-inner .find-me-location{
  position: absolute;
  top:7px;
  right: 7px;
}
.rtl .listdo-location-field-inner .find-me-location{
  right: inherit;
  left: 7px;
}
.map-popup {
    padding: 3px;
    background: #fff;
    height: 42px;
    width: 42px;
    margin-left: -22px;
    margin-top: -42px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-box-shadow: 0 0 20px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0 0 20px 2px rgba(33, 33, 33, 0.3);
}
.map-popup .icon-cat {
    z-index: 1;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    color: #ef2f24;
}
.listdo-location-field-inner.loading .find-me-location{
  animation:rotate 700ms linear 0s normal none infinite running ;
  -webkit-animation:rotate 700ms linear 0s normal none infinite running ;
}
.wp_job_manager_meta_data .field{
  position:relative;
}
.wp_job_manager_meta_data .field.loading:before{
  content: '';
  position: absolute;
  z-index: 999;
  top:0;
  left: 0;
  width: 100%;
  display: block;
  height: 100%;
  background:rgba(255,255,255,0.9) url('../images/loading.gif') no-repeat center center / 30px auto;
}